{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Study Buddy
        {% endblock %}

    </title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    {% block style %}
    {% endblock %}
    <style>
        .navigation{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .wrapper{
            display: flex;
            justify-content: space-evenly;
            gap: 3rem;
            align-items: center;
        }
    </style>
</head>
<body>
{% include 'navbar.html' %}
<hr />

{% block section %}
{% endblock %}


{% if messages %}
    <ul >
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% block content %}
{% endblock %}

<script src="{% static 'js/main.js' %}"></script>
</body>
</html>
